/.CandlestickChart.java._trace
/.ChartPart.java._trace
/.OrderbookHistory.java._trace
/CandlestickChart.java
/ChartPart.java
/OrderbookHistory.java
/.CandlestickChart.xtendbin
/.ChartPart.xtendbin
/.OrderbookHistory.xtendbin
