/.MutableCandlestick.java._trace
/.Timeframe.java._trace
/.Timeframe15Min.java._trace
/.Timeframe1Min.java._trace
/MutableCandlestick.java
/Timeframe.java
/Timeframe15Min.java
/Timeframe1Min.java
/.MutableCandlestick.xtendbin
/.Timeframe.xtendbin
/.Timeframe15Min.xtendbin
/.Timeframe1Min.xtendbin
